{
    a1: rgb(46, 213, 64)
;
    a2: rgb(255, 0, 0)
;
    a3: rgb(255, 115, 0)
;
    a4: rgb(252, 252, 0)
;
    a5: rgb(0, 255, 255)
;
    a6: rgb(63, 0, 255)
;
    a7: rgb(76, 50, 176)
;
    a8: rgb(2, 3, 3)
;
    a9: rgb(255, 255, 255)
;
    a10: rgb(42, 45, 46)
;
    a11: rgb(157, 12, 205)
;
    a12: rgb(71, 28, 19)
;
    a13: rgb(30, 166, 154)
;
    a14: rgb(8, 45, 61)
;
    a15: rgb(11, 61, 3)
;
    a16: rgb(75, 75, 124)
;
    a17: rgb(28, 180, 133)
;
    a11: rgb(12, 154, 205)
;
    a11: rgb(12, 154, 205)
;
    a11: rgb(12, 154, 205)
;
    a11: rgb(12, 154, 205)
;
    a11: rgb(12, 154, 205)
;
    a11: rgb(12, 154, 205)
;


}